/* RESET -------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:top;background:transparent;}

table {
    border-collapse: collapse;
}
td {
    padding: 0;
	text-align: left;
}



/* GLOBAL CSS  -------------------------------------------------- */

body {
	background-color: #02284f;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
	color:#000;
}

.clearboth {
	margin:0;
	padding:0;
	clear:both;
}

hr {
    border: none;
    border-bottom:0px solid #FFFFFF; 
    border-top:1px solid #dcdcdc; 
    clear:both; 
    height:0; 
    width: 100%;


}
/* SITE SPECIFIC  -------------------------------------------------- */
#wrapper {
	background-color:#eee;
	width:960px;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	margin-top:10px;
	border: 1px solid #8996a3;	
}



#header {
	margin-left:auto;
	margin-right:auto;
}

#header a:link, #header a:visited {
text-decoration:none;
color:#d5a27c;	
}

#header a:hover {
text-decoration:none;
color:#f1cfb6;	
}

#header h1 {
    font-size:20px;
	font-weight:bold;
	color:#FFF;
	margin:0;
	padding:0;
	margin-bottom:7px;
}



#menu_container {
	margin-left:auto;
	margin-right:auto;
	width:960px;
	height:30px;
	background-image: url(../img/nav_bg.png);
	background-repeat: repeat-x;
	text-align:center;
}

#menu_container a:link, a:visited {
font-size:18px;
color:#FFF;
text-decoration:none;
text-align:center;
padding:0;
padding-left:5px;
padding-right:5px;
line-height:28px;
}

#menu_container a:hover {
	margin-left:auto;
	margin-right:auto;
	height:30px;
	text-align:center;
    padding:0;
	padding-left:5px;
	padding-right:5px;
	color:#c0c8d1;
}


#homebanner {
	width:637px;
	height:264px;
	border: 1px solid #dad6c5;	
	margin-right:7px;
	margin-top:4px;
	float:left;
	margin-bottom:7px;
	background-color:#FFF;
}

#homeright {
	width:272px;
	height:224px;
	border: 1px solid #dad6c5;	
	margin-right:0px;
	margin-right:0px;
	margin-top:4px;
	float:left;
	margin-bottom:7px;
    background-color:#FFF;
	padding:20px;
	text-align:left;
}

#homeright h1 {
	text-align:center;
	font-size:23px;
	padding:0px;
	margin-bottom:15px;
	font-weight:normal;
	color:#012e5a;
}

#homeright ul {
margin-bottom:20px;
margin-left:20px;
padding:0;
}

#homeright li {
	list-style-image: url(../img/redarrow.png);
    margin:0;
	padding:0;
}


.hbox {
	width:293px;
	height:160px;
	margin-right:7px;
	background-color:#FFF;
	float:left;
	border: 1px solid #dad6c5;
	margin-bottom:5px;
	margin-top:5px;
	padding:10px;
}

.hbox a:link, .hbox a:visited {
	text-decoration:none;
	color:#900;
	font-size:16px;
	
}

.hbox a:hover {
	text-decoration:none !important;
	color:#000 !important;
	font-size:16px !important;
	
}

.hbox4 a:link, .hbox a:visited {
	text-decoration:none;
	color:#900;
	
}

.hbox4 a:hover {
	text-decoration:none;
	color:#000;
	
}

.hbox4 {
	width:294px;
	height:160px;
	background-color:#FFF;
	float:left;
	margin-right:0px;
	border: 1px solid #dad6c5;
	margin-bottom:5px;
	margin-top:5px;
	padding:10px;
}


.hbox4 ul {
margin-bottom:10px;
margin-left:30px;
padding:0;
}

.hbox4 li {
	list-style-image: url(../img/redarrow.png);
    margin:0;
	padding:0;
}

.hbox4 a:link, .hbox4 a:visited {
	margin:0 !important;
	padding:0 !important;
	line-height:15px;
		color:#900;
		text-decoration:none;
	
}


.hbox4 a:hover {
	margin:0 !important;
	padding:0 !important;
	line-height:15px;
		color:#000;
		text-decoration:none;
	
}



#footer {
	width:960px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	line-height:30px;
	background-image: url(../img/nav_bg.png);
	background-repeat: repeat-x;	
	text-align:center;
}



#footer a:link,#footer a:visited {
	color:#9ea3af;
	font-size:14px;
	text-decoration:none;
	margin-left:30px;
	margin-right:30px;
	
}


#footer a:hover {
	color:#FFF;
	font-size:14px;
	text-decoration:none;
	margin-left:30px;
	margin-right:30px;
	
}

#copyright {
	text-align:center;
	font-size:12px;
	color:#999;
}

.box_text {
	margin-bottom:15px;
	margin-top:5px;
	height:80px;
}

#interior h1 {
	font-size:28px;
	margin-bottom:15px;
	color:#b41414;
	
}

#interior_right h1 {
	font-size:22px;
	margin-bottom:15px;
	color:#1e3560;
	text-align:center;
	
}

#interior {
	margin-top:7px;
	margin-bottom:7px;
	margin-left:auto;
	margin-right:auto;
	width:650px;
	text-align:left;
	background-color:#FFF;
	padding:40px;
	border: 1px solid #dad6c5;
	float:left;
	height:560px;
}


#interior_right {
	margin-top:7px;
	margin-bottom:7px;
	margin-left:10px;
	width:173px;
	text-align:left;
	background-color:#e7e7e7;
	padding:20px;
	border: 1px solid #dad6c5;
	float:left;
	height:600px;
}

#interior_footer {
	margin-top:7px;
	margin-bottom:7px;
	margin-left:auto;
	margin-right:auto;
	width:898px;
	text-align:left;
	background-color:#FFF;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;
	border: 1px solid #dad6c5;
	text-align:right;
	line-height:15px;
}

#interior_footer a:link, #interior_footer a:visited {
	color:#900;
	text-decoration:none;
	margin:0 !important;
	padding:0 !important;
	line-height:15px;
}

#interior_footer a:hover {
	color:#000;
	text-decoration:none;
	margin:0 !important;
	padding:0 !important;
	line-height:15px;
}

#signup {
 width:360px;
 background-color:#e5e4e4;
 margin-top:40px;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 padding:30px;
 border: 1px solid #dad6c5;
}