@charset "UTF-8";
/* CSS Document */
	/* not sure we need the stuff below */
html {
	font-family: Arial,Helvetica,sans-serif;
	color: black;
	font-size: 11pt;
	line-height: 100%;
	}

#outerbox {
	width:700px;
	height:1650px;
	background-color:#F0F0F0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#container {
	width:640px; 
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 10;
	margin-left: auto;
}

	/* the image at the top of the page */
#banner{
	margin-top:0px;
	width:100%;
}

	/* picture, narrative */
#header{
	margin-top:0px;
	height:430px;
	width:100%;
	background-color:#FFFFFF;
	zzbackground-color:#FFA500;
}

#lyndabox {
	margin-top:0px;
	margin-left:20px;
	margin-right:0px;
	height:200px;
	float:left;
}

#narrative {
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	height:200px;
	width:420px;
	float:left;
	line-height: 125%;
}

#quizbox {
	width:100%;
	margin-top:0px;
	margin-bottom:10px;
	font-size:10pt;
	color:black;
	background-color:white;
	float:left;
	line-height:140%;
	}

#interpretation {
	padding-left:40px;
	padding-right:40px;
	background-color:white;
	font-size:10pt;
	font-weight:normal;
	line-height:125%;
}

#footer {
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;
	background-color:white;
	text-align:center;
	font-size:10pt;
	line-height: 125%;
}

#moreinfo {
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	background-color:white;
	width:100%;
	text-align:center;
	font-size:10pt;
	line-height: 125%;
}

#buttonbox {
	margin-left:15px;
}
	
	/* element styles */

a {
	color:#207CE5;
	font-style:italic;
}

ol {
}

li {
	padding-top:10px;
}

	/* span styles */
	
#bluetext{
	color:#207CE5;
	font-size:14pt;
	font-weight:normal;
	}
	
#blacktext{
	color:black;
	font-size:10pt;
	font-weight:normal;
	}

