.menu ul ul {
	top: 25px;
	width: 230px;
}
#menu_container a:link, #menu_container a:visited, #menu_container a:hover,
.interior h1 , DT a:link, .hbox4 H1.box, .hbox h1.box , #homeright h1 {
font-weight:normal;
}

