/*
Theme Name: NicheDoctor Theme
Description: Custom for Niche Doctor- based on TwentyTen 
Author: Mosaik Web
Author mosaikweb.com
Template: twentyten
*/
/* =============== MosaikWeb's Style Overrides for NicheDoctor ============ */
/* RESET -------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:top;background:transparent;}
html, body {
    height: 100%;
}
table {
    border-collapse: collapse;
}
td {
    padding: 0;
	text-align: left;
}
/* GLOBAL CSS  -------------------------------------------------- */

body {
	background-color: #02284f;
	margin: 0px;
	padding: 0px; 
        font-family: Arial,Helvetica,sans-serif;
	/*font-family: Tahoma, Arial, Helvetica,'Open Sans Condensed', sans-serif; */
	font-size:  14px;
	color:#000;
        color: #302f30;
        line-height: 145%;
        height: 100%;
}

h1, h2, h3, h4, h5, h6 
{font-family: 'Open Sans Condensed', sans-serif; }

.clearboth {
	margin:0;
	padding:0;
	clear:both;
}



hr {
    border: none;
    border-bottom:0px solid #FFFFFF; 
    border-top:1px solid #dcdcdc; 
    clear:both; 
    height:0; 
    width: 100%;
}
a:hover {text-decoration: underline; color:#b41414; }

/* SITE SPECIFIC  -------------------------------------------------- */
#wrap { background-color:#eee;
        margin: 0 auto;
	width:960px;
	padding:10px;
	margin-bottom:20px;
	margin-top:10px;
	border: 1px solid #8996a3;	
        height: 100%;
        height: auto !important;
}


#header {
position:relative;
margin: 0 auto;
padding:0;
}

#header a:link, #header a:visited {
text-decoration:none;
color:#d5a27c;	
}
#header a:hover {
text-decoration:none;
color:#f1cfb6;	
}



#header-text { 
position:absolute;
top: 56px;
left: 760px;

width: 185px;

}

#header-text, #header-text a, #header-text a:link, #header-text a:visited, #header-text a:hover {

color: #1E5B89;

text-decoration:none;

font-size:15px;

font-weight:bold;

text-align:right;

}



#header h1 {

    font-size:20px;

	font-weight:bold;

	color:#FFF;

	margin:0;

	padding:0;

	margin-bottom:7px;

}







#menu_container {
	margin: 0 auto;
	width:960px;
	height:30px;
	background-image: url(img/nav_bg.png);
	background-repeat: repeat-x;
}

#menu_container a:link, #menu_container a:visited, #menu_container a:hover {
font-size:18px;
font-family: 'Open Sans Condensed', Tahoma, Geneva, sans-serif;
font-weight:bold;
color:#FFF;
text-decoration:none;
padding:0;
padding-left:5px;
padding-right:5px;
line-height:28px;
margin: 0 22px;
}



#menu_container a:hover {

	color:#c0c8d1;

        background:none;

}



.menu ul {

	list-style: none;

	margin: 0;

}

.menu li {

	float: left;

	position: relative;

}


.menu ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
        background-color:/* #F1F1F1;*/ #02284F;
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 999;
}
.menu ul ul li {

	min-width: 180px;

}

.menu ul ul ul {

left: 100%;

top: 0;

}

#menu_container ul ul a:link, #menu_container ul ul a:visited, #menu_container ul ul a:hover
{ font-size:16px; text-align:left;}
.menu ul ul a {
	/*background: #333; */
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
.menu li:hover > a,
.menu ul ul :hover > a {
	/*background: #333;*/
}
.menu ul li:hover > ul {
	display: block;
}

#homeMain {
        position: relative;
        width: 958px;
        min-height: 100%;
        border-left: 1px solid #dad6c5;
        border-right: 1px solid #dad6c5;
        background-color:#FFF;
        background-image: url('img/homebg.jpg');
        background-repeat:repeat-y;
       	padding:0;
	text-align:left;
}

#homeleft {
float:left;
width: 595px;
min-height:100%;
border-top: 1px solid #dad6c5;
border-bottom: 1px solid #dad6c5;
padding: 20px 20px 0 20px;
margin: 0;
background: transparent;
}
#homebanner {
        position: relative;
	width:580px;
/*	min-height:264px; */
/*	border: 1px solid #dad6c5; */
	margin-right:7px;
	margin-top:4px;
	float:left;
	margin-bottom:7px;
        background: transparent;
}

#homebannerHeadline
{ position: absolute;
  top: 30px;
  left: 220px;
  font-family:  'Open Sans Condensed',Tahoma, Geneva, sans-serif;
  color: #012F5C;
  font-size: 24px;
  font-weight: bold;
  line-height: 110%;
  background: transparent;
  z-index:99;
}
#homecontent
{
  position: relative;
  width: 550px;
  padding: 18px 15px;
  /*font-family: Tahoma, Geneva, sans-serif; */
  /*  color: #012F5C; color:black; */
  font-family: Arial,Helvetica,sans-serif;
   color: #302f30;
  line-height: 140%;
  background: transparent;
  z-index:99;
}
#homeright {
        position: absolute;
        top:0px; left:635px;
	width:315px;
        background: transparent;
        background-image: url('/img/rightbottom.png');
        background-repeat:no-repeat;
        background-position: left bottom;
	border-top: 1px solid #dad6c5;	
        min-height:100%;
	padding: 0;
        margin-left: 8px;
	text-align:left;
}
#homertcontent
{
  position: relative;
  padding: 20px;
}


#homeright h1, h1.widget-title {
        font-family: 'Open Sans Condensed', sans-serif;  
	text-align:center;
	font-size:23px;
	padding:0px;
	margin-bottom:15px;
	font-weight:bold;
	color:#012e5a;
}

h3.widget-title {font-size: 16px;}

#homeright li#text-2.widget.widget_text

{ list-style: none; }



#homeright ul {
margin-bottom:20px;
margin-left:20px;
padding:0;
}


#homeright li {
    list-style-image: url(img/redarrow.png);
    margin:0;
	padding:0;
}

.red { color: #b41414; }
.hbox, .hbox4 {
	width:293px;
	height:160px;
	margin-right:7px;
	background-color:#FFF;
        background-image: url(img/boxbanner.png);
        background-repeat:no-repeat;
        background-position: 10px 10px;
	float:left;
	border: 1px solid #dad6c5;
	margin-bottom:5px;
	margin-top:5px;
	padding:10px;
}
.hbox h1.box, .hbox4 h1.box
{
color: #fff;
font-size: 18px;
font-weight: bold;
text-align:center;
padding-top:0px;
}
.hbox4 {
	width:294px;
	margin-right:0px;
}

.hbox a:link, .hbox a:visited ,
.hbox4 a:link, .hbox a:visited {

	text-decoration:none;
	color:#900;
	font-size:16px;
}
.hbox a:hover, .hbox4 a:hover  {
	text-decoration:none !important;
	color:#000 !important;
	font-size:16px !important;
}
.hbox4 ul {
margin-bottom:10px;
margin-left:30px;
padding:0;
}
.hbox4 li {
   list-style-image: url(img/redarrow.png);
    margin:0; padding:0; font-size:16px;
}
.hbox4 a:link, .hbox4 a:visited {
	margin:0 !important;
	padding:0 !important;
	color:#900;
	text-decoration:none;
	
}
div.menu, div.menu p {margin: 0 auto; width:auto; }
table.menu {margin: 0 auto; width: auto;} td.menu { vertical-align:middle;}

#footer {
	width:960px;
	height:30px;
	margin: 0 auto;
	line-height:30px;
	background-image: url(img/nav_bg.png);
	background-repeat: repeat-x;	
	text-align:center;
}
#footer a:link,#footer a:visited {
	color:#9ea3af;
	font-size:14px;
	text-decoration:none;
	margin-left:30px;
	margin-right:30px;
}
#footer a:hover {
	color:#FFF;
	font-size:14px;
	text-decoration:none;
	margin-left:30px;
	margin-right:30px;
	background:none;
}
img.social {
width: 125px; 
height: 40px; 
border:0;
margin-left:62px;
margin-top:-10px;
}

img.social-int { 
border:0;
margin-left:0;
margin-top:0px;
}
#copyright, #copyright a, #copyright a:visited, #copyright a:hover {
	text-align:center;
	font-size:12px;
	color:#999;
        text-decoration:none;
}
#copyright a:hover {text-decoration: underline;}
.box_text {
	margin-bottom:15px;
	margin-top:20px;
        margin-left:5px;
        height:80px;
}

.interior h1 {
	font-size:28px;
	margin-bottom:20px;
	color:#b41414;
}
.interior h2 {
	font-size:24px;
	margin-bottom:20px; margin-top:20px;
	color:#b41414;
        font-weight:bold;
}
.interior .category-news h2 {margin-bottom: 0px;}
.interior h3 {
	font-size:18px;
	margin-bottom:16px;
        font-weight:bold;
}
.interior_right h1 {
	font-size:22px;
	margin-bottom:15px;
	color:#1e3560;
	text-align:center;
}
#container {position: relative; margin:0 auto; padding:0; min-height:100%; height: 100%; display: table; padding-top: 7px; }
#container_row {position: relative; margin:0 auto; padding:0; min-height:100%; height: 100%; display: table-row; }
.layout-cell { display: table-cell; vertical-align: top; }
.layout-cell:before  {display: table; content: " ";}
.layout-cell:after, #container:before {clear:both; display:block;}
.interior {
	margin-top:7px;
	margin-bottom: 7px;
	margin-left:auto;
	margin-right:auto;
	width:650px;
	text-align:left;
	background-color:#FFF;
	padding:40px;
	border: 1px solid #dad6c5;
/*	float:left; */
	min-height:560px;
}
.interior_mid {
	margin-top:7px;
	margin-bottom: 7px;
        width: 10px;
}
.interior_right {
	margin-top:7px;
	margin-bottom: 7px;
	margin-left:10px;
	width:173px;
	text-align:left;
	background-color:#e7e7e7;
	padding:20px; padding-bottom: 60px;
	border: 1px solid #dad6c5;
/*	float:left; */
	min-height:560px;
}

#interior_footer {
	margin-top:7px;
	margin-bottom:7px;
	margin-left:auto;
	margin-right:auto;
	width:898px;
	text-align:left;
	background-color:#FFF;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;
	border: 1px solid #dad6c5;
	text-align:right;
	line-height:15px
}
#interior_footer a:link, #interior_footer a:visited {
	color:#900;
	text-decoration:none;
	margin:0 !important;
	padding:0 !important;
	line-height:15px;
}
#interior_footer a:hover {
	color:#000;
	text-decoration:none;
	margin:0 !important;
	padding:0 !important;
	line-height:15px;}
#signup {
 width:360px;
 background-color:#e5e4e4;
 margin-top:40px;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 padding:30px;
 border: 1px solid #dad6c5;
}
#primary, #secondary {
    float: right;
    overflow: hidden;
    width: 173px;
}
.red {color:#b41414;}
.indent40 {margin-left:80px;}
.indent80 {margin-left:160px;}

dt a, dt a:link, dt a:visited, dt a:hover
{ font-family: 'Open Sans Condensed', Tahoma, Geneva, sans-serif; color:#012e5a; font-size:16px; }
dt a:hover {color:#b41414; }
dt {margin-top:8px;}
dd a, dd a:link, dd a:visited
{ text-decoration: none;
}
dd a:hover
{text-decoration: underline;color:#b41414; }

h1 {font-weight:bold;}
h2.entry-title {font-size:16px; }
h2.entry-title a:hover { text-decoration: underline;color:#b41414;  }
.entry-meta, .entry-utility {display:none;}
.hentry {margin-bottom: 28px;}
blockquote, blockquote.right {
    font-style: normal;
    background-color: #efefef; 
    padding: 5px 10px 5px 25px;
    border: 2px solid #02284F;
    font-size: 14px;
    line-height: 150%;
    font-style: normal;
    border-radius: 7px;
     -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    margin-top: 15px;
}
blockquote em {font-style: italic;}
blockquote.right {
    float: right;
    width: 295px;
}
p.signed{
   color: /*#02284F*/ #b41414;  
    font-size: 12px;
    /*font-style: italic; */
    text-align: right;
    /*font-weight: bold; */
    margin-top: -25px;
    margin-right: 20px;
    background-image: none;
    padding: 0px;
}
blockquote p {
    padding: 8px;
}